header {
    display: flex !important;
    background-color: #222222;
    padding: 5px;
    width: 100vw;
    height: 60px;
    position: fixed;
}

::-webkit-scrollbar {
    display: none !important;
}

header * {
    color: white;
    height: fit-content;
}

#pageLinks {
    position: relative;
    display: flex !important;
    justify-content: space-around;
    align-self: center;
    width: 100%;
}

#pageLinks h4 {
    margin-right: 10%;
}

header h2 {
    width: fit-content;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Raleway', sans-serif;
    justify-content: space-around;
    align-self: center;
}

#center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center h1 {
    font-family: 'Raleway', sans-serif;
}

#center button {
    color: white;
    font-weight: 600;
}

#about {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    width: 100vw;
    max-width: 100%;
    box-shadow: 5px 0 0 0;
}

#about h2, #ourService h2 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
}

#about-info blockquote {
    padding: 5px;
    float: left;
    width: 50%;
}

#about-info h3 {
    padding: 5px;
    text-decoration: underline
}

#about-info img {
    border: 2px solid white;
    max-width: 400px;
}

#threePoints {
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
}

.point img {
    width: 20vw;
}

.point {
    width: 21vw;
    text-overflow: clip;
}