{% extends "base.html" %}

{% block content %}
<main>

    <div id="center">
        <h1>Sign Up Today.</h1>
        <button class="btn bg-info" onclick="location.href = '{{ url_for('register') }}'">Sign Up</button>
    </div>

    <div id="about">
        <h2>About</h2>
        <div id="about-info">
            <h3>Our Goal</h3>
            <blockquote><p>The goal of BitApprentice is to provide a service that allows cybersecurity businesses to reach out to students who are interested in applying for apprenticeships.</p></blockquote>
            <img width="50%" src="https://cdn.pixabay.com/photo/2017/01/01/14/39/hacker-1944688_960_720.jpg"/>
        </div>
    </div>

    <div id="ourService">
        <h2>What we offer</h2>
        <div id="threePoints">
            <div class="point">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Antu_yast-security.svg/512px-Antu_yast-security.svg.png"/>
                <p>Find students that are specifically interested in cybersecurity</p>
            </div>
            <div class="point">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Antu_yast-security.svg/512px-Antu_yast-security.svg.png"/>
                <p>A unique focus on apprenticeships.</p>
            </div>
            <div class="point">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Antu_yast-security.svg/512px-Antu_yast-security.svg.png"/>
                <p>As a student, get the chance to learn from real word experience.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
