{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.location.label }}<br>
        {{ form.location }}
        {% for error in form.location.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        {{ form.type.label }}<br>
        {{ form.type }}
        {% for error in form.type.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
