{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/search.css?v=1.0">
{% endblock %}

{% block content %}
<div id="searchHolder">
    <h1>Search</h1>
    <form action="" method="post" novalidate>
        <p>Location</p>
        {{ form.hidden_tag() }}
        <p>
            {{ form.location }}
            {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
            {{ form.type.label }}<br>
            {{ form.type }}
            {% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
